body {margin: 0}

header {
  display: flex;
  justify-content: space-between; /* horizontal */
  align-items: center; /* vertical */
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: navy;
  background-color: lightblue;
  border-bottom: 1px solid lightgrey;
}
header i {color: navy}
#createList {visibility: hidden} /* changed by JS after login */
#logout {visibility: hidden} /* changed by JS after login */
h1 {display: inline}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* horizontal */
  align-items: flex-start; /* vertical */
  background-color: #defff4;
  height: calc(100vh - 82px);
  padding: 1rem;
  overflow: auto;
}

.welcomeMsg {
  color: darkgrey;
  font-size: 1.5rem;
  margin-top: 5rem;
}

#addItemInput {width: calc(100% - 40px)}

/* Editable List ****/
.itemsContainer {min-height: 300px}

.listItemDiv {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: .5rem;
  align-items: center; /* vertical */
  border-radius: 4px;
}
.listItemDiv:hover {background-color: rgba(215, 246, 255, 0.7)}
.listItemDiv.moving {
  cursor: grabbing;
  box-shadow: 0 0 5px grey;
  background-color: rgba(215, 246, 255, 0.7);
}

.listItemDiv .fa-grip-horizontal {
  color: lightgrey;
  margin-left: .5rem;
  cursor:grab;
}

.listItemDiv .btn,
.listItemDiv .fa-grip-horizontal {visibility: hidden}
.listItemDiv:hover .btn,
.listItemDiv:hover .fa-grip-horizontal {visibility: visible}

.editableListHeader {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center; /* vertical */
}
.editableListHeader > :first-child {margin-right: .5rem}

#deleteList,
.editableListHeader #renameList {
  line-height: 2.45rem;
  cursor: pointer;
  padding-left: .5rem;
  padding-right: .5rem;
}
#deleteList:hover {
  color: white;
  background-color: lightcoral;
  transition: background-color .5s;
}
.editableListHeader #renameList:hover {
  background-color: lightgoldenrodyellow;
  cursor: pointer;
  transition: background-color .5s;
}

/* Editable List: Footer ****/
.itemsContainerFooter {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center; /* vertical */
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: .5rem;
}
.itemsContainerFooter > * {padding: .5rem}
.totalActiveP {
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.filterContainer {border-radius: 4px; margin-right: 1.5px}
.filterContainer:hover {background-color: #defff4}
.filter {border: none; outline: none}
.filter.current {
  color: navy;
  background-color: lightblue;
  border-color: navy;
}

/* Editable & Static List ****/
p.completed,
span.completed {
  color: lightgrey;
  text-decoration: line-through;
}

/* Login & Static List ****/
.loginDiv,
.staticListDiv {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 4px;
  min-width: 200px;
  max-width: min(400px, 100%);
  margin: 1rem;
  cursor: pointer;
  transition: all .5s;
}
.staticListDiv:hover {
  background-color: #e6fcf4;
  transform: perspective(500px) translateZ(15px);
}
.staticListDiv:hover header {background-color:lightskyblue}

.loginDiv header,
.staticListDiv header {
  justify-content: center;
  color: navy;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .07rem;
  height: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all .5s;
}

.loginDiv label,
.loginDiv div {display: block; margin: 1rem}

.loginDiv label {
  display: grid;
  align-items: center;
  gap: .5rem;
  grid-template-columns: .5fr 1fr;
}

.loginDiv .right {text-align: right}

.staticListDiv p  {padding-left: .5rem; padding-right: .5rem}

.hidden {display: none}